* {
	margin: 0;
	border: 0;
}

html,
body {
	overflow: hidden;
}

iframe {
	width: 100%;
	height: 100%;
}

html {
	font-family: sans-serif;
}

body:before {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	opacity: 0;
	will-change: opacity;
	transition: 500ms ease-in-out;
	z-index: -1;
	content: '';
}

body.transition:before {
	opacity: 1;
	z-index: 20;
}